<?php

$fileHeaderComment = <<<COMMENT
This file is part of the PHPDoc Formatter application.
https://github.com/SinSquare/phpdoc-formatter

(c) Ábel Katona

This source file is subject to the MIT license that is bundled with this source code in the file LICENSE.
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('tests/Resources')
    ->exclude('tests/Resources2')
    ->files()
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(false)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => false,
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both'],
        'linebreak_after_opening_tag' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'semicolon_after_instruction' => true,
        'indentation_type' => true,
        'phpdoc_to_comment' => false,
    ])
    ->setIndent("    ")
    ->setFinder($finder)
    ->setUsingCache(false)
;
